
.info__container{
    display:flex;
    justify-content:center;
.info{
    box-sizing:border-box;
    width:411px;
    font-family:"Roboto";
    padding-left:20px;
    padding-right:20px;

    .header{
        
        padding-top:16px;
        .header__title{
            margin:0;
            padding:0;
            text-align:left;
            font-weight:500;
            font-size:16px;
            color: #427D00;

        }
        .header__text{
            font-size:16px;
            text-align:left;
        }
        .rating{
            display:flex;
            align-items:center;
            .stars{
                font-size:40px;
                margin:0;
                color: #356CBB;
                margin-right:10px;

            }
            .rating__text{
                font-size:13.7px;
                 color:#356CBB;
            }
        }
    }
    .mainImg{
        width:100%;
        height:268px;
        .img{
            width:100%;
            height:100%;
        }
    }
    .price-container{
        margin-top:15px;
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        .price{
            display:flex;
            align-items:flex-end;
            .main__price{
                margin:0;
                font-size:27px;
                font-weight:500;
                color:#356CBB;
                padding-right:12px;
            }
            .price__text{
                font-size:10px;
                position:relative;
                bottom:5px;
                color:#595959
            }
        }
        .upload{
            width:18px;
            height:25px;
        }
    }
    .numberMeals{
        font-size:13px;
        text-align:left;
        color: #7E7E7E;
        font-weight:400
    }
    .quantity{
        font-size:10px;
        color: #62737B;
        text-align:left;
    }
    .quantityBox{
        box-sizing:border-box;
        width:100%;
        height:50px;
        border:1px solid #B4B4B4;
        border-radius:3px; 
        text-align:left;
        padding-left:14px;
        margin-bottom:15px;
    }
    .blocks{
        width:100%;
        display:flex;
        justify-content:space-between;
        .white{
            width:95px;
            border:1px solid #E45D47;
            height:49px;
            display:flex;
            align-items:center;
            justify-content:center;
            color: #E45D47;
            border-radius:3px;
        }
        .blue{
            width:65px;
            height:49px;
            background-color: #356CBB;
            border-radius:3px;
        }
        .green{
            width:182px;
            height:49px;
            border-radius:3px;
            background-color:#427D00;
        }
    }
    .return{
        display:flex;
        align-items:center;
        justify-content:space-between;
        border-bottom:2px solid grey;
        .policy{
            font-size:13px;
        }
        .arrow{
            font-size:18px;
            color:#356CBB;
        }
    }
    .description{
        text-align:left;
        font-size:19px;
        color:#356CBB;
        font-weight:400;
        margin:0;
        margin-top:15px;
    }
    .sub-description{
        font-weight:400;
        font-size:13px;
        text-align:left;
        color:#62737B;
    }
    .arrow{
        text-align:right;
        margin-bottom:15px;
    }
    .moreBoxes{
        box-sizing:border-box;
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        .cookingTime{
            width:106px;
            height:50px;
            border:1px solid #B4B4B4;
            border-radius:3px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            .mainTime{
                margin:0;
                font-size:19px;
            }
            .timeDescriptor{
                margin:0;
                font-size:10px;
            }
        }
        .mainIngredients{
            width:70px;
            height:50px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            border:1px solid #B4B4B4;
            border-radius:3px;
            .number{
                margin:0;
                font-size:19px;
            }
            .ingredients{
                margin:0;
                font-size:10px;
            }
        }
        .cost{
            width:165px;
            height:50px;
            display:flex;
            flex-direction:column;
            justify-content:center;
            border:1px solid #B4B4B4;
            border-radius:3px;
            .costNumber{
                margin:0; 
                font-size:19px;
            }
            .costText{
                margin:0;
                font-size:10px;
            }
        }
        padding-bottom:15px;
        border-bottom:1px solid grey;
    }
    .ingredient__header{
        display:flex;
        justify-content:space-between;
        margin-top:15px;
        border-bottom:1px solid grey;
        padding-bottom:15px;
        .ingredient__title{
            font-size:19px;
            margin:0;
            font-weight:400;
            color:#356CBB;
        }
        .ingredient__add{
            width:70px;
            border-radius:12px;
            border:0;
            height:20px;
            background-color:#356CBB;
            color:#FFFFFF;
        }
    }
    .ingredient__container{
        width:100%;
        display:flex;
        justify-content:space-between;
        border-bottom:1px solid grey;
        .ingredientImg{
          width:98px;
          height:98px;  
        }
        .actions{
            .action__title{
                font-size:10px;
                text-align:left;
            }
        .quantity{
            width:70px;
            height:20px;
            border:1px solid #B4B4B4;
            border-radius:3px;
            display:flex;
            justify-content:center;
            align-items:center;
            margin-bottom:5px;
        }
        .empty{
            width:70px;
            height:20px;
            border-radius:12px;
            border:1px solid #E45D47;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-bottom:5px;
            color:#E45D47;
        }
        .submit{
            border:0;
            width:70px;
            height:20px;
            border-radius:12px;
            background-color:#427D00;
            color:#FFFFFF;
            font-size:10px;
            margin-bottom:5px;
        }
    }
    }
    .review__title{
        margin:0;
        margin-top:15px;
        text-align:left;
        font-size:19px;
        color: #356CBB;
    }
    .review__container{
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-bottom:1px solid grey;
        .review__content{
            display:flex;
            align-items:center;
            .stars{
                font-size:40px;
                margin:0;
                color: #356CBB;
                margin-right:10px;
            }
            .review__text{
                font-size:13.7px;
                 color:#356CBB;
            }
        }
        .review__arrow{
            color:#356CBB;
            font-size:20px;
        }
    }
    .image__container{
        width:100%;
        display:flex;
        justify-content:space-between;
        margin-top:15px;
        margin-bottom:30px;
        .image__content{
            width:110px;
            height:110px;
        }
    }
}
}