.home{
  box-sizing: border-box;
  width: 411px;
  height: 100vh;
  border: black solid 1px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &__cont{
    position: relative;
  }
  &__hero{
    margin-bottom: 1rem;
    filter: brightness(50%);
  }

  &__meals-cont{
    padding: 0 1rem;
  }

  
  &__title{
    font-size: 24px;
    text-align: left;
    margin-top: 0;;
  }

  &__popular{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    // border: red solid 1px;
    padding: 0;
    width: 30%;
    margin-bottom: 1rem;
  }
  &__img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  &__make-title{
    position: absolute;
    color: white;
    text-align: left;
    top: 1px;
    left: 16px;
    font-size: 50px;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }
  &__save{
    color: white;
    position: absolute;
    bottom: 5px;
    left: 16px;
    font-size: 20px;
    font-weight: bold;
  }



// GroceryHome

&__hero2{
  background-image: url(../../assets/hero2.png);
  height: 182px;
  position: relative;
  margin-bottom: 1rem;
  
}
&__hero-title{
  text-align: center;
  width: 190px;
  // height: 40px;
  margin: 0 auto;
  padding: 10px 0;
  color: white;
  background-color: #356CBB;
  border-radius: 5px;
  position: absolute;
  left: 115px;
  bottom: 10px;
  box-shadow: 3px 2px 5px black;
}

&__order-btn{
  background-color: #F5F5ED;
  // padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-radius: 5px;
  // height: 60px;
  width: 390px;
  box-shadow: 3px 2px 5px #888888;
  position: relative;
}

&__order-text{
  text-align: left;
  padding: 0;
  padding-left: 30px;
  margin: 0;
  font-size: 13.7px;
  font-weight: 400;
}
&__book{
  text-align: left;
  padding-left: 30px;
  margin: 0;
  color: #427D00;
  font-size: 13.7px;
}

&__icon-right{
  position: absolute;
  right: 10px;
  top: 15px;
}
}